<div class="login-container">
  <h2>Login to karyo</h2>
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email">
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error">
        Email is required and must be valid.
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password">
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
        Password is required.
      </div>
    </div>
    <button type="submit" class="login-btn" [disabled]="loginForm.invalid">Login</button>
  </form>
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  <p>Don't have an account? <a routerLink="/signup">Sign up</a></p>
</div>
